################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JWTAuthentication/JWTAuthentication/bin/Debug/netcoreapp3.1
/JWTAuthentication/JWTAuthentication/obj
/JWTAuthentication/.vs/JWTAuthentication/v16
